[submodule "AVLTree"]
	path = AVLTree
	url = https://github.com/laurencepettitt/AVLTree.git
[submodule "BinarySearchTree"]
	path = BinarySearchTree
	url = https://github.com/laurencepettitt/BinarySearchTree.git
